* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: 'Hahmlet', serif;
}

#title {
    text-align: center;
    font-size: 50px;    
}

.top-buffer {
    margin-top: 5rem;
}

body {
    min-height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;  */
    /* background-image: url("./images/forest_rain.jpg"); */
    /* background-image: url("https://images.unsplash.com/photo-1640628423316-b9238484f131?crop=entropy&cs=srgb&fm=jpg&ixid=Mnw5ODI5M3wwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MjU0NjcwNQ&ixlib=rb-1.2.1&q=85"); */
    background-size: cover;    
}

/* section#photo-container {
    width: 40rem;
    height: 45rem;
    border-radius:10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* div#climate {
    margin-bottom: 30rem;
    width: 20rem;
    height: 12rem;
    border-radius: 5%;

    font-size: 5rem;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
} */

div#counter {

    color: black;
    background-color: rgba(0, 0, 0, 0.1);

    /* position: relative; */
    /* margin-top: -10rem; */
    
    margin: auto;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

div#counter:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Footer */

#instagramArtist {
    display: inline;
    position: fixed;    
    bottom: 0;
    left: 2em;
    color: white;
}


.swal-modal {
    background-color: rgb(138, 43, 43);
    /* border: 3px solid white; */
}



/* Loading */

@keyframes ldio-05y9ovx8d807 {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
    }
    0% {
      transform: translate(0,0)
    }
    50% {
      transform: translate(0,146.34px);
      animation-timing-function: cubic-bezier(0,0.45,0.55,0.9);
    }
    100% {
      transform: translate(0,0);
    }
  }
  
  .ldio-05y9ovx8d807 div {
    position: absolute;
    width: 70.46px;
    height: 70.46px;
    border-radius: 50%;
    background: #e15b64 !important;
    left: 100.27px;
    top: 27.1px;
    animation: ldio-05y9ovx8d807 1.282051282051282s linear infinite;
  }
  .loadingio-spinner-ball-pgemw8lti8 {
    width: 271px;
    height: 271px;
    display: inline-block;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);

    margin: auto;
  }

  .ldio-05y9ovx8d807 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */        
  }

  .ldio-05y9ovx8d807 div { box-sizing: content-box; }

  #weather :nth-child(n){
    text-align: center;    
  }

  .temperature {
    text-align: center;    
    font-size: 18px;
    font-weight: 500;
  }
/* To do list*/

/* #todo-list-container {
    width: 20rem;
    height: 40rem; 
    background-color: #424242;  

    bottom: 1rem;
    right: 1rem;
    position: fixed;

    border-radius:0.8rem;
}

#item-adder {
    width: 80%;
    margin: 0.8rem 0.2rem 0.8rem 0.8rem;

    border-radius: 0.4rem;

    background-color: #757575;

    text-align: center;
}

#adder-button {
    width: 1.5rem;

    margin-left: 0.2rem;

    border-radius: 0.5rem;

    background-color: #757575;
}

#adder-button:hover {
    cursor: pointer;
} */