* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-image: url("./images/forest_rain.jpg");
}

section#photo-container {
    width: 40rem;
    height: 45rem;
    border-radius:10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

div#climate {
    margin-bottom: 30rem;
    width: 20rem;
    height: 12rem;
    border-radius: 5%;

    font-size: 5rem;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#counter {

    color: black;

    position: relative;
    margin-bottom: -10rem;

    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

div#counter:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/*To do list*/
/* 
#todo-list-container {
    width: 20rem;
    height: 40rem; 
    background-color: #424242;  

    bottom: 1rem;
    right: 1rem;
    position: fixed;

    border-radius:0.8rem;
}

#item-adder {
    width: 80%;
    margin: 0.8rem 0.2rem 0.8rem 0.8rem;

    border-radius: 0.4rem;

    background-color: #757575;

    text-align: center;
}

#adder-button {
    width: 1.5rem;

    margin-left: 0.2rem;

    border-radius: 0.5rem;

    background-color: #757575;
}

#adder-button:hover {
    cursor: pointer;
} */